/* 
#1f6299
#dbe9e7
#fafffd
#eee8a9
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafffd;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    color: rgb(49, 49, 49);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 78px;
    font-weight: 600;
}

h2 {
    font-size: 28px;
}

h4 {
    font-weight: bold;
    font-size: 60px;
}

p {
    color: #646464;
    font-size: 18px;
}

span {
    color: #646464;
    font-size: 18px;
}

textarea {
    resize: none;
}

.colors {
    height: 2em;
    width: 200px;
    display: flex;
    position: absolute;
    z-index: -5;
}

.color {
    width: 50px;
}

.font-logo {
    font-family: "Ysabeau SC", sans-serif;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    font-size: 24px;
}

.font {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

#nav-top {
    background-color: rgba(250, 255, 253, 0.8);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #1f6299;
    position: sticky;
    top: 0;
    padding: 20px 50px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    z-index: 5000;
}

.stick {
    position: sticky;
    top: 0;
    z-index: 5000;
}

.nav-menu {
    list-style: none;
    text-transform: uppercase;
}

#nav-menu a {
    color: rgb(49, 49, 49);
    padding: 8px;
}

.btn-outline-custom {
    display: none;
    --bs-btn-color: #eee8a9;
    --bs-btn-border-color: #eee8a9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #eee8a9;
    --bs-btn-hover-border-color: #eee8a9;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #eee8a9;
    --bs-btn-active-border-color: #eee8a9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #eee8a9;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #eee8a9;
    --bs-gradient: none;
}

@media screen and (max-width: 767px) {
    .btn-outline-custom {
        display: block;
    }
}

.brand-img {
    width: 40px;
    height: 40px;
}

.cbtn {
    text-transform: uppercase;
    color: white;
}

.cbtn-signup {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #1f6299;
    font-size: 18px;
}

.cbtn-contact {
    padding: 8px 18px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #eee8a9;
    font-size: 16px;
    min-width: 80px;
    color: rgb(49, 49, 49);
    font-weight: bold;
    align-self: flex-start;
}

.blueprint {
    /* border: 1px solid #447faf;
    background: url(assets/bp-2.png);
    background-size: cover; */
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 6px 10px;
    background:  linear-gradient(#447faf 1px, transparent 1px), linear-gradient(to right, #447faf 1px, #1f6299 1px);
    background-size: 15px 15px;
}

#main-container {
    min-height: 700px;
}

.content {
    padding: 20px;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-img img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10vw;
    border-bottom-left-radius: 10vw;
}

#bot-container {
    background-color: rgb(250, 255, 253);
    border-top: 1px solid #1f6299;
}

#copyright {
    padding: 0.6rem;
    border-top: 1px solid #1f6299;
    text-align: center;
}
#copyright p {
    margin-bottom: 0px;
}
.text-left {
    font-size: 16px;
}
.text-center {
    text-align: center;
}

.nav a {
    color: #646464;
}

.soc-img {
    width: 40px;
    filter: grayscale();
    transition: filter 0.3s ease-in-out;
}

.soc-img:hover {
    filter: none;
}

.section {
    background-color: #dbe9e7;
}

.cont-pad {
    padding-top: 80px;
}

.map {
    width: 60vw;
    height: 500px;
    border: 2px solid purple;
}

.contact-bg {
    background-color: #eee8a9;
    padding: 8px 18px;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 3rem;
}

.py-c {
    padding: 50px 0;
}